<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/59212312?s=460&u=f88428cd8884531e65c11480593623311061553a&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Design Tech TI <i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Design Tech TI<i class="material-icons right">close</i></span>
      <p>
      · Programação Web · Suporte TI · Edição Audio-Visual · Open Source · Gameplays
      </p>
      <p class="center">
        <a href="https://github.com/designtechti" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Portifólio GitHub</a>
        <br><br>
        <a href="https://www.linkedin.com/in/designtechti/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Perfil Linkedin</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
